body {
  margin: 0;
  padding: 0;
  font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
  text-align: center;
}

.content {
  margin-top: 200px;
}

a {
  display: block;
  margin-top: 2px;
}

p {
  display: inline-block;
  margin: 5px;
}
button {
  margin: 5px 0;
  padding: 5px;
  width: 12%;
}
.btn2 {
  width: 20%;
}
span {
  display: block;
}
input {
  display: block;
  margin: auto;
  width: 30%;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf,
    inset 2px 2px #0a0a0a;
  height: 23px;
  background-color: #fff;
  border: none;
}

.search {
  background-color: #eeeeee;
}

.footer {
  display: flex;
  margin-top: 2px;
}

.left-foot {
  width: 40%;
  background-color: #7ee5da;
  display: inline-block;
  padding: auto;
  margin-right: 2px;
  padding: 20px;
  font-size: 1.5em;
}

.middle-foot {
  width: 19%;
  background-color: #70ccc2;
  display: inline-block;
  margin-right: 2px;
  padding: 20px;
}

.right-foot {
  width: 40%;
  background-color: #62b3aa;
  display: inline-block;
  padding: 20px;
}
